<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
    <title>수강신청 사이트</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<head>
    <style>
        .container {
            max-width: 560px;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 15px;">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>

    <h4 class="mb-3">회원 정보 입력</h4>

    <form role="form" action="/signup" th:object="${signUpDto}" method="post">
        <div th:if="${msg}">
            <p th:text="${msg}" class="alert alert-danger"></p>
        </div>

        <div>
            <label th:for="username">이름</label>
            <input type="text" th:field="*{username}" id="username" class="form-control" required>
        </div>
        <div>
            <label th:for="loginId">로그인 ID</label>
            <input type="text" th:field="*{loginId}" id="loginId" class="form-control" required>
        </div>
        <div>
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" id="password" class="form-control" required>
        </div>
        <div>
            <label for="password-confirm">비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" id="password-confirm" class="form-control" required>
        </div>
        <div>
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" required>
        </div>
        <div>
            <label th:for="phoneNumber">전화번호</label>
            <input type="number" th:field="*{phoneNumber}" id="phoneNumber" class="form-control" required>
        </div>
        <div style="margin-top: 20px;">
            <div class="col">
                <div class="row">
                    <label for="majorId">전공</label>
                </div>
                <div class="row">
                    <select id="majorId" name="majorId" required>
                        <option value="">전공 선택</option>
                        <option th:each="major : ${majors}" th:value="${major.majorId}" th:text="${major.majorName}" th:selected="${major.majorId == signUpDto.majorId}">
                            전공 선택
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='/'" type="button">취소</button>
            </div>
        </div>
    </form>

    <div class="text-center">
        <p class="mt-5 mb-3 text-muted">&copy;2022 wadekang</p>
    </div>
</div>
</body>
</html>
